.navbar{
    background:#7eeeb6;
   }
   .nav-link , .navbar-brand{
    color: #74AAD6;
    cursor: pointer;
   }
   .nav-link{
    margin-right: 1em !important;
   }
   .nav-link:hover{
    background: #f4f4f4;
    color: #ec96fd;
   }
   .navbar-collapse{
    justify-content: flex-end;
   }
   .navbar-toggler{
     background:#fff !important;
   }
   
   .bg-dark{
    background-color:#74AAD6!important
    }
    .bg-primary{
    background-color:#74AAD6!important
    }
    .header{
      background-color: bisque;
      background-image: url('https://i.pinimg.com/564x/f0/ae/11/f0ae11f2da2cf08b1ccefeabcbee34b3.jpg');
      background-attachment: scroll;

      background-size: cover;
      background-position: center;
     
    }
    
    
   .description{
        
        top: 30%;
        margin: 20px;
        padding: 200px 30px;
        
    }
  
    .description h1{
     color:rgb(222, 223, 228) ;
    }
    .description h9{
      color: #7eeeb6;
      text-shadow: 1px 0 1px #74AAD6, 
      0 1px 1px #74AAD6, 
      -1px 0 1px #74AAD6, 
      0 -1px 1px #74AAD6;
    
    }
    .description p{
     color:#fff;
     font-size: 20px;
     width: 50%;
     line-height: 1.5;
    }
    .description button{
     border:1px  solid rgb(116, 170, 214);
     background:#7eeeb6;
  
     color:#fff;
    }
   .about{
      margin: 4em 0;
      padding: 1em;
      position: relative;
      
     }
    .about h1{
      color:rgb(116, 170, 214);
      margin: 2em;
     }
    .about img{
      height: 80%;
         width: 100%;
         
     }
     .about span{
      display: block;
   
      position: absolute;
      left: 115px;
      color: #7eeeb6;
      text-shadow: 1px 0 1px #74AAD6, 
      0 1px 1px #74AAD6, 
      -1px 0 1px #74AAD6, 
      0 -1px 1px #74AAD6;
     }
     .about .desc{
      padding: 2em;
      border-left:4px solid #7eeeb6;
     }
     
    .about .desc p{
      line-height:2;
      color:#74AAD6;
     }
     .kind{
      margin: 4em 0;
      position: relative; 
     }
     .kind h1{
      color:rgb(116, 170, 214);
      margin: 2em; 
     }
     .kind .card{
      box-shadow: 0 0 20px #ccc;
     }
     .kind .card img{
      width: 100%;
      height: 60%;
     
     }
     .kind .card-title{
      color:rgb(116, 170, 214);
       
     }
     .kind .card-body{
      padding: 1em;
     }
     .kind button{
      border:1px  solid rgb(116, 170, 214);
      background:#7eeeb6;
      color:#fff;
     }
     .forms{
      margin: 4em 0;
      position: relative; 
     }
     .forms h1{
      color:rgb(116, 170, 214);
      margin: 2em; 
     }
     .forms img{
       
       height: 20rem;
       width: 100%;
       margin: 1em;
       border-radius: 50%
     }
     .place{
      margin: 4em 0;
      position: relative;  
     }
     .place h1{
      color:rgb(116, 170, 214);
      margin: 2em; 
     }
     .place .item{
      position: relative;
     }
     .place .des{
      background: #7eeeb6;
      color: #fff;
      text-align: center;
      border-bottom-left-radius: 93%;
      transition:.4s ease-in-out;
     }
     .place img{
       
      height:200px;
      width: 300px;
 
      
    }
     .place .item:hover .des{
      height: 100%;
      background:rgb(116, 170, 214);
      position: absolute;
      width: 90%;
      padding: 5em;
      top: 0;
      border-bottom-left-radius: 0;
     }
     .contact-form{
      padding:5em 1px;
      position: relative;  
     }
     .contact-form h1{
      padding:2em 1px;
      color: rgb(116, 170, 214); 
     }
     .contact-form .right{
      max-width: 600px;
     }
     .contact-form .right .btn-secondary{
      background: #7eeeb6;
      color: #fff;
      border:0;
     }
     .contact-form .right .form-control::placeholder{
      color: #888;
      font-size: 16px;
     }
     @import url('https://fonts.googleapis.com/css?family=Raleway');
        
     html,h1,h2,h3,h4,h5,h6,h9,a{
      font-family: "Raleway";
     }
    
   
   

