.navbar{
    background:#7eeeb6;
   }
   .nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
   }
   .nav-link{
    margin-right: 1em !important;
   }
   .nav-link:hover{
    background: #f4f4f4;
    color: #ec96fd;
   }
   .navbar-collapse{
    justify-content: flex-end;
   }
   .navbar-toggler{
     background:#fff !important;
   }
   .bg-dark{
    background-color:#343a40!important
    }
    .bg-primary{
    background-color:#343a40!important
    }
    .header{
      background-image: url('https://i.pinimg.com/564x/f0/ae/11/f0ae11f2da2cf08b1ccefeabcbee34b3.jpg');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }
    .overlay{
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
        /* background: rgba(244, 244, 244, 0.79);*/ 
       }
       .description{
        /* position: absolute; */
        top: 30%;
        margin: auto;
        padding: 200px 30px;
    }
    .description h1{
     color:rgb(222, 223, 228) ;
    }
    .description p{
     color:#fff;
     font-size: 20px;
     width: 50%;
     line-height: 1.5;
    }
    .description button{
     border:1px  solid rgb(116, 170, 214);
     background:#7eeeb6;
     color:#fff;
    }
   .about{
      margin: 4em 0;
      padding: 1em;
      position: relative;
     }
    .about h1{
      color:rgb(116, 170, 214);
      margin: 2em;
     }
    .about img{
      height: 80%;
         width: 100%;
         border-radius: 50%
     }
     .about span{
      display: block;
      color: #ec96fd;
      position: absolute;
      left: 115px;
     }
     .about .desc{
      padding: 2em;
      border-left:4px solid #7eeeb6;
     }
      .about .desc h3{
      color: #7eeeb6;
     }
    .about .desc p{
      line-height:2;
      color:rgb(48, 48, 48);
     }
     .kind{
      margin: 4em 0;
      position: relative; 
     }
     .kind h1{
      color:rgb(116, 170, 214);
      margin: 2em; 
     }
     .kind .card{
      box-shadow: 0 0 20px #ccc;
     }
     .kind .card img{
      width: 100%;
      height: 60%;
     
     }
     .kind .card-title{
      color:rgb(116, 170, 214);
       
     }
     .kind .card-body{
      padding: 1em;
     }
     .kind button{
      border:1px  solid rgb(116, 170, 214);
      background:#7eeeb6;
      color:#fff;
     }
     .portfolio{
      margin: 4em 0;
         position: relative; 
     }
     .portfolio h1{
      color:#7eeeb6;
      margin: 2em; 
     }
     .portfolio img{
       height: 15rem;
       width: 100%;
       margin: 1em;
     }
     
        
       
    
   
   

